<!DOCTYPE html>
<html>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

<style>
ul {
  list-style: none;
}

.good:before {
  content: '✓';
  color: #2cba6c;
}

.good
{
    color: #2cba6c;
}

.bad:before {
  content: 'x';
  color: #ff0000;
}

.bad
{
    color: #ff0000;
}

</style>

<script>
    function hasSpecialChars(str) 
    {
        const specialChars = `\`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~`;

        const result = specialChars.split('').some(specialChar => {
        if (str.includes(specialChar)) 
        {
            return true;
        }

            return false;
        });

        return result;
    }

    function hasNumbers(str)
    {
        var x;

        for(x = 0; x < str.length; x++)
        {
            if(str.charAt(x) >= '0' && str.charAt(x) <= "9")
                return true;
        }

        return false;
    }

    function hasLowerCase(str)
    {
        var x;

        for(x = 0; x < str.length; x++)
        {
            if(str.charAt(x) >= 'a' && str.charAt(x) <= "z")
                return true;
        }

        return false;
    }

    function hasUpperCase(str)
    {
        var x;

        for(x = 0; x < str.length; x++)
        {
            if(str.charAt(x) >= 'A' && str.charAt(x) <= "Z")
                return true;
        }

        return false;
    }

    function checkMe()
    {
        var str = document.getElementById("password").value;

        var length = str.length;

        var goodLength = false;
        var goodUpper = false;
        var goodLower = false;
        var goodNums = false;
        var goodSpecial = false;

        if(length < 8)
        {
            document.getElementById("charLengthBad").style.display = "block";
            document.getElementById("charLengthGood").style.display = "none";
            document.getElementById("charLengthNone").style.display = "none";

            goodLength = false;
        }
        else
        {
            document.getElementById("charLengthBad").style.display = "none";
            document.getElementById("charLengthGood").style.display = "block";
            document.getElementById("charLengthNone").style.display = "none";

            goodLength = true;
        }

        if(hasLowerCase(str))
        {
            document.getElementById("lowerBad").style.display = "none";
            document.getElementById("lowerGood").style.display = "block";
            document.getElementById("lowerNone").style.display = "none";

            goodLower = true;
        }
        else
        {
            document.getElementById("lowerBad").style.display = "block";
            document.getElementById("lowerGood").style.display = "none";
            document.getElementById("lowerNone").style.display = "none";

            goodLower = false;
        }

        if(hasUpperCase(str))
        {
            document.getElementById("upperBad").style.display = "none";
            document.getElementById("upperGood").style.display = "block";
            document.getElementById("upperNone").style.display = "none";

            goodUpper = true;
        }
        else
        {
            document.getElementById("upperBad").style.display = "block";
            document.getElementById("upperGood").style.display = "none";
            document.getElementById("upperNone").style.display = "none";

            goodUpper = false;
        }

        if(hasNumbers(str))
        {
            document.getElementById("numsBad").style.display = "none";
            document.getElementById("numsGood").style.display = "block";
            document.getElementById("numsNone").style.display = "none";

            goodNums = true;
        }
        else
        {
            document.getElementById("numsBad").style.display = "block";
            document.getElementById("numsGood").style.display = "none";
            document.getElementById("numsNone").style.display = "none";

            goodNums = false;
        }

        if(hasSpecialChars(str))
        {
            document.getElementById("specialBad").style.display = "none";
            document.getElementById("specialGood").style.display = "block";
            document.getElementById("specialNone").style.display = "none";

            goodSpecial = true;
        }
        else
        {
            document.getElementById("specialBad").style.display = "block";
            document.getElementById("specialGood").style.display = "none";
            document.getElementById("specialNone").style.display = "none";

            goodSpecial = false;
        }

        if(goodLength && goodUpper && goodLower && goodNums && goodSpecial)
        {
            console.log("Good password");
            document.getElementById("checker").disabled = false;
        }
        else
        {
            console.log("Bad password");
            document.getElementById("checker").disabled = true;
        }
    }

    function checkProgress() 
    {
        var taskID = document.getElementById("threadID").value;
        console.log(taskID);

        if(taskID != -1)
        {
            $.ajax({
                url:"/progress/",
                type: "POST",
                datatype: 'json',
                data: "threadID="+threadID.value,

                success: function(response){
                    if(response["progress"] < 100)
                    {
                        document.getElementById("progress").value = response["progress"];
                        document.getElementById("response").innerText = response["response"];
                        document.getElementById("rockyou").innerText = response["rockYouRes"];
                        document.getElementById("results").innerText = response["results"];
                    }
                    else
                    {
                        document.getElementById("progress").value = response["progress"];
                        document.getElementById("response").innerText = response["response"];
                        document.getElementById("rockyou").innerText = response["rockYouRes"];
                        document.getElementById("results").innerText = response["results"];
                        document.getElementById("threadID").value = -1;
                    }
                    console.log(response);
                },
                error: function(error){
                    console.log(error);
                }

            });

        }
    }

    function start()
    {
        var goods = document.getElementsByClassName("good");
        var i;
        for(i = 0; i < goods.length; i++)
        {
            goods[i].style.display = "none";
        }

        var bads = document.getElementsByClassName("bad");
        var i;
        for(i = 0; i < bads.length; i++)
        {
            bads[i].style.display = "none";
        }

        setInterval(checkProgress, 1000);
    }
</script>

<body onload="start()">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Machine Learning Password Checker</h1>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row text-center">
            <button onclick="location.href='/checker/'">Check Password</button>
            <button onclick="location.href='/creator/'">Create Password</button>
        </div>
        <br/>
        <div class="row">
            <form action="/checkPass/" method="post">
                <div class="row">
                    <div class="col text-center">
                        <label>Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <input type="password" id="password" name="password" oninput="checkMe()">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" id="checker" disabled>Check</button>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col text-center">
                        <label>Requirements for Password</label>
                    </div>
                </div>
                <div class="row">
                    <ul class="text-center">
                        <li class="good" id="charLengthGood">&nbsp;More than 8 characters long</li>
                        <li class="bad" id="charLengthBad">&nbsp;More than 8 characters long</li>
                        <li class="neutral" id="charLengthNone">&nbsp;More than 8 characters long</li>

                        <li class="good" id="upperGood">&nbsp;Uppercase</li>
                        <li class="bad" id="upperBad">&nbsp;Uppercase</li>
                        <li class="neutral" id="upperNone">&nbsp;Uppercase</li>

                        <li class="good" id="lowerGood">&nbsp;Lowercase</li>
                        <li class="bad" id="lowerBad">&nbsp;Lowercase</li>
                        <li class="neutral" id="lowerNone">&nbsp;Lowercase</li>

                        <li class="good" id="numsGood">&nbsp;Numbers</li>
                        <li class="bad" id="numsBad">&nbsp;Numbers</li>
                        <li class="neutral" id="numsNone">&nbsp;Numbers</li>

                        <li class="good" id="specialGood">&nbsp;Special Characters</li>
                        <li class="bad" id="specialBad">&nbsp;Special Characters</li>
                        <li class="neutral" id="specialNone">&nbsp;Special Characters</li>
                    </ul>
                </div>
            </form>
        </div>
        <hr>
        <div class="row">
            <div class="col text-center">
                <label id="response"></label><br>
                <progress id="progress" value="0" max="100"></progress>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h2>Results</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <label id="rockyou"></label>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <label id="results"></label>
            </div>
        </div>
        <input type="hidden" id="threadID" value="{{ threadID }}">
    </div>
</body>
</html>